ipykernel
langchain-ollama
python-dotenv
pandas
fsspec
huggingface_hub
datasets
ipywidgets
langchain
langchain_community
openai
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
pydantic
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
beautifulsoup4
langchain-classic
streamlit
